@import '../variables';

.foods-order {
  width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  &__error-message {
    margin-top: 40px;
    font-size: 22px;
  }

  &__title {
    margin: 35px 0;
    font-size: 32px;
    font-weight: 800;
    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  &__thead {
    p {
      font-weight: 700;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

    span {
      font-size: 22px;
    }
  }

  &__new-food-btn {
    display: inline-block;
    background-color: $orange;
    color: #fff;
    border-radius: 30px;
    padding: 10px 15px;
    min-width: 80px;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid transparent;
  }

  &__new-food-btn:hover {
    background-color: rgba(255, 68, 0, 0.705);
    color: #fff;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__go-back-btn {
    display: inline-block;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 15px;
    min-width: 80px;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
    border: 1px solid #c3c3c3;

    img {
      position: relative;
      top: 1px;
      right: 10px;
    }

    span {
      color: #c3c3c3;
    }
  }

  &__go-back-btn:hover {
    background-color: $black;

    span {
      color: #fff;
      font-size: 16px;
    }
  }

  &__stop-btn {
    display: inline-block;
    background-color: #fff;
    color: red;
    border-radius: 30px;
    padding: 10px 15px;
    min-width: 80px;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid red;
  }

  &__stop-btn:hover {
    background-color: red;
    color: #fff;
  }
}
